<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumProject">

    <test name="testngTest">
    <test thread-count="5" name="Test">

        <classes>

            <class name="FST_Selenium_Project1.Activity9" />
        </classes>
    </test>
</suite>